TELEGRAM_BOT_TOKEN=8942911747:AAFPj9KNUyyQhsPaXm1Uw2IfpVugYH-Yrc8
ADMIN_TELEGRAM_ID=6681719658
SUPABASE_URL=https://cvxustnrroepowyiyyhp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_cXlNUHRTXasSAuUuTt5Ojg_lftyJLO-
