TELEGRAM_BOT_TOKEN=8942911747:AAFPj9KNUyyQhsPaXm1Uw2IfpVugYH-Yrc8
ADMIN_TELEGRAM_ID=6681719658
SUPABASE_URL=https://nvvnjtgdhkpddpsyyftk.supabase.co
SUPABASE_SERVICE_ROLE_KEY=8942911747:AAFPj9KNUyyQhsPaXm1Uw2IfpVugYH-Yrc8
